{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $role := promptStringOnce . "role" "What is the role of this machine? (desktop/server)" -}}
{{- $theme := promptStringOnce . "theme" "选择主题 (light/dark)" "dark" -}}

[data]
    email = {{ $email | quote }}
    role = {{ $role | quote }}
    theme = {{ $theme | quote }}



[diff]
    command = "delta"
    pager = "delta"
