export LANG=zh_CN.UTF-8
export LC_ALL=zh_CN.UTF-8
export LANGUAGE=zh_CN.UTF-8

export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="robbyrussell"

plugins=(git zsh-autosuggestions zsh-syntax-highlighting chezmoi)
source $ZSH/oh-my-zsh.sh

eval "$(starship init zsh)"
alias cz='chezmoi'


{{- if eq .role "desktop" }}
# 只有桌面端 (Mac/Ubuntu桌面) 才有的别名
alias zj='zellij'
{{- else if eq .role "server" }}
# 只有服务器端才有的别名
alias tm='tmux'
alias ta='tmux attach' # 一键恢复后台任务
{{- end }}


# 自动将用户本地 bin 目录加入 PATH
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi


# ==========================================
# Homebrew 跨平台初始化
# ==========================================

{{- if eq .chezmoi.os "darwin" }}
  # Mac 环境
  {{- if eq .chezmoi.arch "arm64" }}
  # Apple Silicon Mac
  eval "$(/opt/homebrew/bin/brew shellenv)"
  {{- else }}
  # Intel Mac
  eval "$(/usr/local/bin/brew shellenv)"
  {{- end }}

{{- else if eq .chezmoi.os "linux" }}
  # Linux 环境 (适用于 Dell 服务器或 WSL2)
  if [ -d "/home/linuxbrew/.linuxbrew" ]; then
      eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  elif [ -d "$HOME/.linuxbrew" ]; then
      eval "$("$HOME/.linuxbrew/bin/brew" shellenv)"
  fi
{{- end }}
