local platform = require('utils.platform')

local options = {
   -- ref: https://wezfurlong.org/wezterm/config/lua/SshDomain.html
   ssh_domains = {
      {
         name = 'ssh:n1',
         remote_address = '{{ if eq .network "company" }}172.16.3.222{{ else }}iregene-222{{ end }}',
         multiplexing = 'None',
         username = 'zhanghm',
      },
      {
         name = 'ssh:n2',
         remote_address = '{{ if eq .network "company" }}172.16.3.223{{ else }}iregene-223{{ end }}',
         multiplexing = 'None',
         username = 'zhanghm',
      },

       -- 225 使用 WSL 代理连接（libssh 连不上）
      {
          name = 'ssh:225',
          remote_address = '{{ if eq .network "company" }}172.16.3.225{{ else }}100.121.9.76{{ end }}',
          multiplexing = 'None',
          username = 'zhanghm',
         ssh_option = {
            identity_file = '~/.ssh/id_ecdsa',
         },
       },
       {
          name = 'ssh:pmx1',
          remote_address = '192.168.31.186',
          multiplexing = 'None',
          username = 'haomiao',
       },
      {
         name = 'ssh:pmx2',
         remote_address = '192.168.31.187',
         username = 'haomiao',
         multiplexing = 'None',
         ssh_option = {
            identity_file = '~/.ssh/id_ecdsa',
         },
      },
   },

   -- ref: https://wezfurlong.org/wezterm/multiplexing.html#unix-domains
   unix_domains = {},

   -- ref: https://wezfurlong.org/wezterm/config/lua/WslDomain.html
   wsl_domains = {},
}

return options
